<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ice="http://bow.com/schema/ice"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://bow.com/schema/ice  http://bow.com/schema/ice/ice.xsd
">
    <ice:reference id="d1" identity="DemoService" type="::Demo::DemoService"/>

</beans>
